[Desktop Entry]
Type=Application
Version=1.0
Name=Install AurumOS
GenericName=System Installer
Comment=Install AurumOS to a disk
TryExec=aurum-installer
Exec=aurum-installer
Icon=aurum-installer
Categories=System;Settings;
Terminal=false
StartupNotify=true
NoDisplay=false
Keywords=install;setup;
